extends ./layout/index
block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}           
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac mauris sapien. Mauris ultrices mi sed maximus placerat. 
                p In et ligula a elit luctus suscipit. In ac nulla sit amet quam rhoncus tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus mollis scelerisque tempor. Donec purus metus, vulputate ut tellus ac, pretium porta sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc viverra convallis tortor sed aliquet. Aliquam mattis laoreet risus vel cursus.
                p Donec sollicitudin porta lacus vitae mattis. Sed id placerat eros. Etiam tempor, arcu non tristique tincidunt, quam lorem luctus massa, vel fermentum felis ante eleifend odio. Donec sed lorem eget nunc vehicula malesuada. Quisque blandit, tortor ut fermentum accumsan, nibh felis commodo ipsum, eu laoreet nulla urna nec sapien. Praesent cursus tincidunt nibh at congue. Nullam ac risus at lacus rutrum suscipit. 

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p arcu non tristique tincidunt, quam lorem luctus massa, vel fermentum felis ante eleifend odio. Donec sed lorem eget nunc vehicula malesuada. Quisque blandit, tortor ut fermentum accumsan, nibh felis commodo ipsum, eu laoreet nulla urna nec sapien.
                    
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p arcu non tristique tincidunt, quam lorem luctus massa, vel fermentum felis ante eleifend odio. Donec sed lorem eget nunc vehicula malesuada. Quisque blandit, tortor ut fermentum accumsan, nibh felis commodo ipsum, eu laoreet nulla urna nec sapien.
                    
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono Precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios 
                    p arcu non tristique tincidunt, quam lorem luctus massa, vel fermentum felis ante eleifend odio. Donec sed lorem eget nunc vehicula malesuada. Quisque blandit, tortor ut fermentum accumsan, nibh felis commodo ipsum, eu laoreet nulla urna nec sapien.
                    